# Shopify Configuration
SHOPIFY_SHOP_DOMAIN=your-196ae7-4.myshopify.com
SHOPIFY_ACCESS_TOKEN=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ra

# Google Sheets Configuration
GOOGLE_SHEETS_CREDENTIALS_FILE=./credentials.json
GOOGLE_SHEETS_SPREADSHEET_ID=1W5Z8axVB8xOg4WG7SYDumYZF84_oOj3rxvr-EDLr8uI

# Application Configuration
PORT=3000
NODE_ENV=development
